<!-- Banner Part -->
<section id="banner" class="section">
  <div class="container" id="bannercontainer">
    <h1>Your</h1>
    <h1>skills can</h1>
    <h1>change</h1>
    <h1>the world</h1>
    <p>Volunteer for a cause in a startup or a charity</br>and get hosted in exchange</p>
  </div>
</section>
<!-- Enf of Banner Part -->

<!-- Vision Part -->
<section id="vision" class="section">
  <h1>Why would you love to work for ?</h1>
  <p>We envision a world in which everybody have the opportunity to do a job that makes sense for them</p>
</section>
<!-- Enf of Vision Part -->

<!-- Concept Part -->
<section id="concept" class="section">
  <h1>What is an experience with Pack Your Skills ?</h1>
  <p>You discover the social entrepreneurship ecosystem of this city</p>
  <p>You gain a valuable experience based on your skills</p>
  <p>You see your impact on a project dedicated to solve a societal issue</p>
  <p>You travel, meet people, you get hosted, you live there, your enjoy your experience !</p>
</section>
<!-- Enf of Concept Part -->

<!-- Journey Part -->
<section id="journey" class="section">
  <h1>What are the next step to go ?</h1>
  <p>Discover the awesome projects that need your skills</p>
  <p>Present yourself and explain your talents</p>
  <p>Discover the awesome projects that need your skills</p>
  <p>Pack Your Skills and enjoy your journey !</p>
</section>
<!-- Enf of Journey Part -->

<!-- Who Are you Part -->
<section id="whoareyou" class="section">
  <h1>Who are you ?</h1>
  <p>You wish to be involved in local projects during their trip using their skills in exchange for room and accommodation.</p>
  <p>You are the team of a startup or charity, your primary mission is to solve a societal issue and need key skills to develop your activity.</p>
</section>
<!-- Enf of Who Are you Part -->

<!-- Referencies Part -->
<section id="referencies" class="section">
  <h1>They did it !</h1>
  <p>Testimonies of first packers and crews</p>
</section>
<!-- Enf of Referencies Part -->


<!-- We are social Part -->
<section id="wearesocial" class="section">
  <h1>We are social, follow us !</h1>
  <p>Meet the team</p>
  <p>Instagram</p>
  <p>facebook</p>
</section>
<!-- Enf of Referencies Part -->

<!-- Partnership Part -->
<section id="partnership" class="section">
  <h1>They believe in us !</h1>
  <p>No one yet</p>
</section>
<!-- Enf of Partnership Part -->
