<!-- Banner Part -->
<section id="banner" class="section">
  <div class="container" id="bannercontainer">
    <div class="container" id="bannerheader">
      <div class="row" id="shapeheader">
        <img src="PackYourSkills_Logo_rond.png" alt="Pack Your Skills logo">
      </div>
      <div class="row">
        <div class="col-xs-1">
          <a href="#concept">Mission</a>
        </div>
        <div class="col-xs-1">
          <a href="#vision">Our plan</a>
        </div>
        <div class="col-xs-1">
          <a href="#concept">Register</a>
        </div>
        <div class="col-xs-1">
          <a href="#concept">The Journey</a>
        </div>
        <div class="col-xs-1">
          <a href="#concept">Your Mission</a>
        </div>
        <div class="col-xs-1">
          <a href="#concept">The Dream Team</a>
        </div>
        <div class="col-xs-1">
          <a href="#concept">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="container" id="bannertitle">
      <div class="row">
        <h2>Your</h2>
        <h2>skills <img src="PackYourSkills_can.png" alt="Can"></h2>
        <h1>change</h1>
        <h1>the world<img src="PackYourSkills_exclamation.png" alt="!"></h1>
        <p>Volunteer for a cause in a startup or a charity</br>and get hosted in exchange</p>
        <a>Join us !</a>
      </div>
    </div>
    <div class="container" id="bannerfooter">
      <a href="#vision"><img src="banner_home_PackYourSkills_arrow.png" alt="arrow to go down"></a>
    </div>
  </div>
</section>
<!-- Enf of Banner Part -->

<!-- Vision Part -->
<section id="vision" class="section">
  <div class="container" id="visioncontainer">
    <div class="row">
      <div class="col-xs-1" id="yellow_shape">
        <img src="home_PackYourSkills_vision_yellowshape.png" alt="yellow shape">
      </div>
      <div class="col-xs-8">
        <h1>Why would you love to work for ?</h1>
        <p>We envision a world in which everybody have the opportunity to do a job that makes sense for them</p>
      </div>
      <div class="col-xs-2">
        <img src="home_PackYourSkills_question.png" alt="question_mark">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5" id="green_shape">
        <img src="home_PackYourSkills_vision_greenshape.png" alt="green shape">
      </div>
      <div class="col-xs-7 transition">
        <img src="home_PackYourSkills_path_from_right.png" alt="path">
      </div>
    </div>
  </div>
</section>
<!-- Enf of Vision Part -->

<!-- Concept Part -->
<section id="concept" class="section">
  <div class="container" id="conceptcontainer">
    <div class="row">
      <div class="col-xs-3">
        <img src="home_PackYourSkills_like.png" alt="thump up">
      </div>
      <div class="col-xs-7">
        <div class="row">
          <h1>What is an experience with Pack Your Skills ?</h1>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <p>You travel, meet people, you get hosted, you live there, your enjoy your experience !</p>
          </div>
          <div class="col-xs-3">
            <p>You see your impact on a project dedicated to solve a societal issue</p>
          </div>
          <div class="col-xs-3">
            <p>You gain a valuable experience based on your skills</p>
          </div>
          <div class="col-xs-3">
            <p>You discover the social entrepreneurship ecosystem of this city</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-7 transition">
        <img src="home_PackYourSkills_path_from_left.png" alt="path">
      </div>
      <div class="col-xs-3" id="red_shape">
        <img src="home_PackYourSkills_concept_redshape.png" alt="red shape">
      </div>
    </div>
  </div>
</section>
<!-- Enf of Concept Part -->

<!-- Journey Part -->
<section id="journey" class="section">
  <div class="container" id="journeycontainer">
    <div class="row">
      <div class="col-xs-1" id="blue_shape">
        <img src="home_PackYourSkills_journey_blueshape.png" alt="blue shape">
      </div>
      <div class="col-xs-10">
        <h1>What are the next step to go ?</h1>
      </div>
    </div>
    <div class="container" id="illustrationcontainer">
      <div class="row">
        <div class="col-xs-3 illustration">
          <img src="home_PackYourSkills_journey_earth.png" alt="earth">
        </div>
        <div class="col-xs-1 arrow">
          <img src="home_PackYourSkills_journey_arrow.png" alt="arrow to left">
        </div>
        <div class="col-xs-3 illustration">
          <img src="home_PackYourSkills_journey_face.png" alt="face">
        </div>
        <div class="col-xs-1 arrow">
          <img src="home_PackYourSkills_journey_arrow.png" alt="arrow to left">
        </div>
        <div class="col-xs-4 illustration">
          <img src="home_PackYourSkills_journey_guy.png" alt="super hero">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <p>Discover the awesome projects that need your skills</p>
        </div>
        <div class="col-xs-offset-1 col-xs-3">
          <p>Present yourself and explain your talents</p>
        </div>
        <div class="col-xs-offset-1 col-xs-3">
          <p>Pack Your Skills and enjoy your journey !</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Enf of Journey Part -->

<!-- Who Are you Part -->
<section id="whoareyou" class="section">
  <div class="container" id="whoareyoucontainer">
    <div class="row">
      <div class="col-xs-offset-5 col-xs-7 transition">
        <img src="home_PackYourSkills_path_from_right.png" alt="path">
      </div>
    </div>
    <div class="row">
      <h1>Who are you ?</h1>
    </div>
    <div class="row arrows">
      <img src="home_PackYourSkills_whoareyou_arrows.png" alt="arrows">
    </div>
    <div class="row illustration">
      <div class="col-xs-offset-1 col-xs-4">
        <img src="home_PackYourSkills_whoareyou_packer.png" alt="packer">
      </div>
      <div class="col-xs-offset-2 col-xs-4">
        <img src="home_PackYourSkills_whoareyou_crew.png" alt="crew">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-4">
        <p>You wish to be involved in local projects during their trip using their skills in exchange for room and accommodation.</p>
      </div>
      <div class="col-xs-offset-2 col-xs-4">
        <p>You are the team of a startup or charity, your primary mission is to solve a societal issue and need key skills to develop your activity.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-4">
        <a>I am a packer</a>
      </div>
      <div class="col-xs-offset-2 col-xs-4">
        <a>We are a crew</a>
      </div>
    </div>
  </div>
</section>
<!-- Enf of Who Are you Part -->

<!-- Referencies Part -->
<section id="referencies" class="section">
  <h1>They did it !</h1>
  <p>Testimonies of first packers and crews</p>
</section>
<!-- Enf of Referencies Part -->


<!-- We are social Part -->
<section id="wearesocial" class="section">
  <h1>We are social, follow us !</h1>
  <p>Meet the team</p>
  <p>Instagram</p>
  <p>facebook</p>
</section>
<!-- Enf of Referencies Part -->

<!-- Partnership Part -->
<section id="partnership" class="section">
  <h1>They believe in us !</h1>
  <p>No one yet</p>
</section>
<!-- Enf of Partnership Part -->
